@using PagedList.Mvc
@model PagedList.IPagedList<BookStore.Models.tbl_product>

@{
    ViewBag.Title = "Ads";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>

    .cimg {
        -webkit-transform 5s;
        transition: transform 5s;
    }

    .searchBtn {
        background-color: #005faa;
        border: 0 none;
        color: #fff;
        font-size: 16px;
        padding: 11px 16px;
        text-transform: uppercase;
        cursor: pointer;
        height: 44px;
    }
</style>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View  Category</title>
    <link href="~/Content/paginition.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
        <div class="col-md-12">

                @using (@Html.BeginForm("Ads", "User"))
                {
                    <div class="olContent f1"><h2 style="font-size:small">Search Product/Category</h2></div>
                    <form method="post">
                        <div class="olSearch fr">
                            <input type="text" name="search" placeholder="Enter Keyword" class="inputComn form-control" />
                            <div class="searchIcon">
                                <button type="submit" class="searchBtn">
                                    <img src="~/Content/img/searchIcon.png" />
                                </button>
                            </div>
                        </div>
                    </form>
                }


                    <div class="col-md-12">
                        <div class="row">
                            @{int x = 0;}
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    x++;
                                    <div class="col-lg-4 col-md-4">
                                        <img class="img img-responsive cimg" src="@Url.Content(item.pro_image)" style="min-height: 200px; vertical-align: middle; margin: 0 auto;" />
                                        <h4 style="color:#808080; font-family:'Arial Rounded MT';text-align:center"> @Html.ActionLink(@item.pro_name, "ViewAd", new { id = @item.pro_id })</h4>

                                    </div>

                                }
                            }
                            
                        </div>
                    </div>
            </div>
         
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Ads", new { page }))
            <h4>@x Results found</h4>
        </div>
    </div>
</body>
</html>

